* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* utility classes*/
.btn-primary {
    cursor: pointer;
    background-color: #1ec067;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding: 14px 32px;
    border: none;
    border-radius: 500px;
    transition: transform;
    letter-spacing: 1px;
    transition: all 300ms ease;
}

.btn-primary:hover {
    background-color: #00ff73;
}

.logo {
    width: auto;
    height: 40px;
}


/* navbar */
#navbar {
    width: 100%;
    display: flex;
    color: #fff;
    background-color: #010001;
    justify-content: center;
}

#navbar .navbar-container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

#navbar .navbar-container ul {
    display: flex;
    list-style: none;
    font-weight: bold;
}

#navbar .navbar-container li {
    cursor: pointer;
    padding: 0 20px;
    transition: all 350ms ease;
}

#navbar .navbar-container li:hover {
    color: #12c739;
}

/* item baixar */
#navbar .navbar-container ul li:nth-child(3) {
    border-right: 1px solid #fff;
    padding: 0 25px;
}

/* item inscreva-se */
#navbar .navbar-container ul li:nth-child(4) {  
    padding-left: 25px;
    padding-right: 10px;
}

/* Showcase */

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: url(../img/showcase.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase .showcase-container h2{
    font-size: 7rem;
}

#showcase .showcase-container p{
    margin: 15px 0px 40px 0px;
    font-size: 1.1rem;
}

/* Footer */
#footer {
    background: black;
    color: white;
    padding: 90px 0px 60px 0px;
}

#footer .footer-content {
    display: flex; 
    width: 75%;
    margin: auto;
    justify-content: center;
}

#footer .footer-content .footer-menu {
    margin: 0px 50px; 
    list-style: none;
}

.footer-logo {
    position: relative;
    bottom: 25px;
}

#footer .footer-content .footer-menu .footer-menu-item {
    cursor: pointer;
    margin: 25px 0px;
    transition: all 350ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
    color: #12c739;
}

#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}

.socials {
    display: flex;
    margin-left: 80px;
}

.socials-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 10px;
    font-size: 1.7rem;
    width: 55px;
    height: 55px;
    background-color: #222226;
    transition: all 350ms ease;
}

.socials-item:hover {
    color: #12c739;
}

/* footer info */
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    width: 75%;
    padding-top: 70px;
    margin:auto;
    font-weight: bold;
    color: #919496;     
    font-size: 0.75rem;
}

.footer-info .footer-info-items {
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
    margin: 0 15px;
    font-weight: normal;
    cursor: pointer;
    transition: all 350ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
    color: #12c739;
}

.footer-info .rights .country {
    display: flex; 
    cursor: pointer;
    justify-content: flex-end;
    margin-bottom: 6px;
    transition: all 350ms ease;
}

.footer-info .rights .country:hover {
    color: #12c739;
}

.footer-info .rights .country .brasil-flag {
    padding-right: 10px;
    height: 12px;
    width: auto;
    display: inline-block;
}